{% set faq = [
	{
		"question": "Как оформить заказ у нас на сайте?", 
		"answer": "Да, мы работаем как с физическими, так и с юридическими лицами. С более подробной информацией по сотрудничеству с юридическими лицами Вы можете ознакомиться в разделе «Корпоративным клиентам»."
	},
	{
		"question": "Какая минимальная сумма заказа?",
		"answer": "Да, мы работаем как с физическими, так и с юридическими лицами. С более подробной информацией по сотрудничеству с юридическими лицами Вы можете ознакомиться в разделе «Корпоративным клиентам»."
	},
	{
		"question": "Могут ли оформить заказ юридические лица?", 
		"answer": "Да, мы работаем как с физическими, так и с юридическими лицами. С более подробной информацией по сотрудничеству с юридическими лицами Вы можете ознакомиться в разделе «Корпоративным клиентам»."
	},
	{
		"question": "Когда можно забрать свой заказ?", 
		"answer": "Да, мы работаем как с физическими, так и с юридическими лицами. С более подробной информацией по сотрудничеству с юридическими лицами Вы можете ознакомиться в разделе «Корпоративным клиентам»."
	},
	{
		"question": "Где получить заказ?", 
		"answer": "Да, мы работаем как с физическими, так и с юридическими лицами. С более подробной информацией по сотрудничеству с юридическими лицами Вы можете ознакомиться в разделе «Корпоративным клиентам»."
	},
	{
		"question": "Как оплатить заказ?", 
		"answer": "Да, мы работаем как с физическими, так и с юридическими лицами. С более подробной информацией по сотрудничеству с юридическими лицами Вы можете ознакомиться в разделе «Корпоративным клиентам»."
	},
	{
		"question": "Как узнать цену на товар и наличие в магазинах?", 
		"answer": "Да, мы работаем как с физическими, так и с юридическими лицами. С более подробной информацией по сотрудничеству с юридическими лицами Вы можете ознакомиться в разделе «Корпоративным клиентам»."
	},
	{
		"question": "Акции действуют во всем магазинах?", 
		"answer": "Да, мы работаем как с физическими, так и с юридическими лицами. С более подробной информацией по сотрудничеству с юридическими лицами Вы можете ознакомиться в разделе «Корпоративным клиентам»."
	},
	{
		"question": "Когда будет запущена Доставка и Самовывоз во всех городах?", 
		"answer": "Да, мы работаем как с физическими, так и с юридическими лицами. С более подробной информацией по сотрудничеству с юридическими лицами Вы можете ознакомиться в разделе «Корпоративным клиентам»."
	},
	{
		"question": "Как вернуть товар в магазин?", 
		"answer": "Да, мы работаем как с физическими, так и с юридическими лицами. С более подробной информацией по сотрудничеству с юридическими лицами Вы можете ознакомиться в разделе «Корпоративным клиентам»."
	},
	{
		"question": "Как оставить отзыв и предложение?", 
		"answer": "Да, мы работаем как с физическими, так и с юридическими лицами. С более подробной информацией по сотрудничеству с юридическими лицами Вы можете ознакомиться в разделе «Корпоративным клиентам»."
	}
]%}

<ul class="faq">
	{% for item in faq %}
		<li class="faq__item">
			<div class="faq__question">{{ item.question }}</div>
			<div class="faq__answer">{{ item.answer }}</div>
		</li>
	{% endfor %}
</ul>